<h1>Daily questions</h1>
<p>
  Welcome to daily questions. Subscribe to receive one question a day for the
  rest of time. The questions will repeat every year. This should leave you with
  a profile of how you've changed over time. Enjoy.
</p>

<%= form_tag "/users" do %>
  <%= label_tag "Email" %>
  <%= text_field_tag "email" %>
  <%= label_tag "Name" %>
  <%= text_field_tag "name" %>
  <%= submit_tag "Subscribe" %>
<% end %>
